@model IndexViewModel
<h2>Dashboard</h2>
<div class="alert alert-secondary">Dashboard</div>
<div class="content">
    <div class="btn-controls">
        <div class="btn-box-row row-fluid">
            <a href="#" class="btn-box big span3" style="background-color: #2121b9b8;">
                <i class="icon-user" style="color: white;"></i>
                <p style="color:white; font-size:1rem;">New Users</p>
                <b style="color:white; background-color:#0000ff38;">4</b>
            </a>
             <a href="#" class="btn-box big span3" style="background-color: #ffa500d6;">
                <i class="icon-building" style="color: white;"></i>
                <p style="color:white; font-size:1rem;">Departments</p>
                <b style="color:white; background-color:orange" >@Model.DepartmentCount</b>
            </a>
            <a href="#" class="btn-box big span3" style="background-color: #008000d4;">
                <i class="icon-envelope" style="color: white;"></i>
                <p style="color:white; font-size:1rem;">Notices</p>
                <b style="color:white; background-color:green;">4</b>
            </a>
            <a href="#" class="btn-box big span3" style="background-color: #ff0000b8;;">
                <i class="icon-book" style="color: white;"></i>
                <p style="color:white; font-size:1rem;">Leaves</p>
                <b style="color:white; background-color:red;">@Model.LeaveCount</b>
            </a>
        </div>
    </div>
</div>

<div class="info">
    <p class="title">
        Your Details
    </p>
    <div class="description">
        <p>Email:test@test.com</p>
        <p>Address:USA</p>
        <p>Mobile Number:99999us999</p>
        <p>Designation:Software Engineer</p>
        <p>StartDate: 2021/01/10</p>
        <p>Department:IT Department</p>
        <p> 
            <span class="badge badge-success" 
                style="display: inline-block; padding:.5rem;">Role:Admin</span></p>

    </div>
</div>