<div class="modal hide fade" id="leave-request-decision" style="width:300px">
    <div class="modal-header">
        <button data-dismiss="modal" class="close">&times;</button>
        <h2>
            Confirm Leave (from js obviously)
        </h2>
    </div>
    <form action="somewhere">
        <div class="modal-body">
            <div class="mb-3 ">
                <label for="status" class="form-label" >Status</label>
                <select name="" id="status" class="form-select">
                    <option value="">Accept</option>
                    <option value="">Reject</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label" >Description</label>
                <textarea name="" id="description" cols="30" rows="3" class="form-control"></textarea>
            </div>
        </div>
        <div class="modal-footer">
                <button class="btn btn-success" type="submit">Approve</button>
                <button class="btn btn-danger" type="submit">Reject</button>
            </form>
    </div>
</div>